.VillageSelect-minHeight {
  min-height: 400px;
}

.VillageSelect-minHeightList {
  min-height: 0;
}

@media only screen and (min-width: 768px) {
  .VillageSelect-minHeightList {
    min-height: 400px;
  }
}

.VillageSelect-childrenFullHeight > * {
  height: 100%;
}
