.App-subSection {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 100%;
}

.App-sectionInnerWrapper {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 600px) {
  .App-subSection {
    width: 45%;
  }

  .App-leftSubSection {
    margin-right: 3%;
  }

  .App-rightSubSection {
    margin-left: 3%;
  }
}
